{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  // FIXME: extend standard eslint? & prettier
  "extends": ["plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "requireConfigFile": false
  },
  "rules": {
    "no-console": "error"
  },
  "parser": "@babel/eslint-parser"
}